:root{
  --primary-color: #79797A;
  --secondary-color: ##FFD19A;
}
html,
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  font-family: 'Poppins';
}

a {
  color: inherit;
  text-decoration: none;
}

p, span{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

input{
  border: none;
}