.grid_titulo{
  color: var(--primary-color);
  padding: 0 0 16px 0;

}

.form_select_options{
  background-color: transparent;
  border:none;
}

.form_select_options:hover,
.form_select_options:focus{
  background-color: transparent;
  border:none;
  box-shadow: none;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width:500px;
  height: 100vh;
  overflow-y: auto;
  background-color:white;
  margin: 0;
  max-width: 100%;
}

.container_list {
  padding-left: 56px !important;
  padding-right: 8px;
}

@media (max-width: 768px) {
  .grid_titulo{
    margin-top: 1rem;
  }
  .container_list{
    padding-left: 30px !important;
  }
}